cat <<EOT >> .gitignore
# Môi trường ảo, macOS cache và Python cache
__pycache__/
*.py[cod]
.DS_Store

# Loại trừ dữ liệu lớn và trọng số mô hình
data/raw/
data/processed/*.h5
models/checkpoints/*
EOT